@media only screen and (min-width: 1000px) {
  .red {
    width: 100%;
    background-color: #ff000d;
    height: 100px; }
  .grey {
    width: 100%;
    background-color: #948686; }
  .menu {
    visibility: hidden; }
  .grey ul {
    display: inline-block;
    list-style: none; }
  .grey ul li {
    color: white;
    margin-left: 20px;
    float: left;
    width: 60px;
    height: 30px;
    padding-top: 15px;
    padding-left: 15px; }
  .grey ul li:hover {
    background-color: #d1cbcb;
    opacity: 8; }
  .grey ul li a {
    color: black;
    text-decoration: none; }
  .green {
    float: left;
    background-color: #008000;
    width: 70%;
    height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .yellow {
    width: 80%;
    height: 400px;
    background-color: #ffff00;
    margin: 20px;
    margin: 5% 10%; }
  .orange-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .orange-box {
    width: 150px;
    height: 150px;
    background-color: #ffa500; }
  .blue {
    float: right;
    background-color: #0000ff;
    width: 30%;
    height: 700px; }
  .lightgreen {
    width: 100%;
    height: 70px;
    display: inline-block;
    background-color: #b1dc39; } }

@media only screen and (max-width: 999px) and (min-width: 400px) {
  .red {
    width: 100%;
    background-color: #ff000d;
    height: 100px; }
  .menu {
    visibility: hidden; }
  .grey {
    background-color: #948686; }
    .grey ul {
      display: inline-block;
      list-style: none; }
    .grey ul li {
      color: white;
      margin-left: 20px;
      float: left;
      width: 60px;
      height: 30px;
      padding-top: 15px;
      padding-left: 15px; }
    .grey ul li:hover {
      background-color: #d1cbcb;
      opacity: 8; }
    .grey ul li a {
      color: black;
      text-decoration: none; }
  .green {
    float: left;
    background-color: #008000;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .yellow {
    width: 80%;
    height: 400px;
    background-color: #ffff00;
    margin: 20px;
    margin-left: 10%; }
  .orange-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .orange-box {
    width: 300px;
    height: 300px;
    background-color: #ffa500;
    margin: 10px; }
  .lightgreen {
    width: 100%;
    height: 70px;
    display: inline-block;
    background-color: #b1dc39; } }

@media only screen and (max-width: 399px) {
  .red {
    width: 100%;
    background-color: #ff000d;
    height: 100px;
    position: relative; }
  .grey {
    width: 100%;
    background-color: #948686; }
    .grey ul {
      display: inline-block;
      list-style: none;
      width: 100%;
      -webkit-padding-start: 0px;
      padding-inline-start: 0px;
      display: none; }
    .grey ul a {
      color: black;
      text-decoration: none; }
    .grey ul li:hover {
      background-color: #d1cbcb;
      opacity: 8; }
    .grey ul li {
      width: 97%;
      height: 40px;
      text-align: center;
      color: white;
      padding: 5px;
      padding-top: 34px; }
    .grey .menu {
      visibility: visible;
      background-color: #ffffff;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 58px;
      right: 8px; }
    .grey .menu:active ~ ul {
      display: block; }
  .nav-decor {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: -webkit-box; }
  .green {
    background-color: #008000;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .yellow {
    width: 80%;
    height: 215px;
    background-color: #ffff00;
    margin: 36px; }
  .orange-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .orange-box {
    width: 80%;
    height: 161px;
    background-color: #ffa500;
    margin: 10px; }
  .lightgreen {
    width: 100%;
    height: 70px;
    display: inline-block;
    background-color: #b1dc39; } }
